.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.body {
  background-color: #000;
  text-align: left;
}

.image-2 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.image-2:hover {
  background-color: #fff;
  background-image: url('../images/MASK1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.image-3 {
  display: block;
  overflow: hidden;
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: opacity 200ms ease, opacity 500ms cubic-bezier(.445, .05, .55, .95);
  transition: opacity 200ms ease, opacity 500ms cubic-bezier(.445, .05, .55, .95);
}

.image-3:hover {
  opacity: 0.5;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.section {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  padding-top: 50px;
  padding-left: 0px;
}

.section-2 {
  background-color: transparent;
  opacity: 1;
}

.container_mask {
  background-image: url('../images/MASK2.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
  -webkit-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
  transition: all 800ms cubic-bezier(.77, 0, .175, 1);
  text-align: center;
}

.container_mask:hover {
  background-image: url('../images/MASK1.png');
  background-size: cover;
}

.img_mask {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  opacity: 0;
}

.link-block {
  display: block;
  margin: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.body-2 {
  background-color: #000;
}

.container {
  padding-bottom: 50px;
  background-color: transparent;
}

.div-block {
  padding: 2% 16%;
  font-family: Exo, sans-serif;
}

.body-3 {
  background-color: #000;
}

.div-block-4 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  grid-template-areas: ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . .";
  -ms-grid-columns: 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr 21px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto 21px auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.image-4 {
  min-height: auto;
  min-width: auto;
}

.image-5 {
  max-height: 100%;
}

.section-3 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.nav-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-bar-flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger-line {
  width: 22.5px;
  height: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  background-color: #656565;
}

.nav-bar-flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.52);
  box-shadow: 0 10px 20px -9px rgba(0, 0, 0, 0.31);
}

.nav-link {
  padding-right: 50px;
  padding-left: 50px;
  -webkit-transition: padding 300ms cubic-bezier(.175, .885, .32, 1.275), background-color 250ms ease-in-out, color 200ms ease;
  transition: padding 300ms cubic-bezier(.175, .885, .32, 1.275), background-color 250ms ease-in-out, color 200ms ease;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
}

.nav-link:hover {
  padding-right: 50px;
  padding-left: 50px;
  background-color: hsla(0, 0%, 100%, 0.5);
  color: #000;
}

.nav-link.w--current {
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
}

.hamburger-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 20px 18px 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
}

.text-block {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: left;
}

.bold-text {
  font-size: 20px;
  text-align: left;
}

.container-4 {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.column-2 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  padding-top: 15px;
  padding-bottom: 120px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  padding: 6px 30px;
  border-radius: 20px;
  -webkit-transform: scale3d(1none, 1none, 1none);
  transform: scale3d(1none, 1none, 1none);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.submit-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.submit-button:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.field-label {
  font-family: Exo, sans-serif;
  color: #fff;
}

.field-label-2 {
  color: #fff;
}

.field-label-3 {
  color: #fff;
}

.text-block-contact {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.container_proyecto {
  padding-top: 25px;
  padding-bottom: 25px;
}

.container_tituloproyecto {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: left;
}

.slider {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #000;
  text-align: center;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide {
  text-align: center;
}

.slide-2 {
  text-align: center;
}

.image-10 {
  text-align: center;
}

.slide-3 {
  text-align: center;
}

.slide-4 {
  text-align: center;
}

.slide-5 {
  text-align: center;
}

.html-embed-2 {
  display: inline-block;
  text-align: center;
}

.youtube {
  text-align: center;
}

.slide-6 {
  text-align: center;
}

.slide-7 {
  text-align: center;
}

.slide-8 {
  text-align: center;
}

.slide-9 {
  text-align: center;
}

.slide-10 {
  text-align: center;
}

.slide-11 {
  text-align: center;
}

.slide-12 {
  text-align: center;
}

.slide-1 {
  text-align: center;
}

.slide-13 {
  text-align: center;
}

.slide-nav {
  padding-top: 50px;
}

.slide-nav-2 {
  padding-top: 50px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button {
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Exo, sans-serif;
  color: #000;
}

.youtube-2 {
  margin: 10px;
  padding-top: 0px;
}

.html-embed-4 {
  overflow: hidden;
  width: 80vw;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .body {
    overflow: hidden;
  }

  .image-2 {
    overflow: hidden;
    max-width: 100%;
  }

  .image-3 {
    display: block;
    overflow: hidden;
    max-width: 50%;
  }

  .section {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: none;
    overflow: hidden;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .section-2 {
    margin-top: 60px;
    background-color: transparent;
  }

  .container_mask {
    padding-left: 0px;
    background-color: #fff;
  }

  .link-block {
    margin: 10px;
  }

  .div-block {
    padding-right: 0%;
    padding-left: 0%;
  }

  .nav-menu {
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: inset 0 16px 21px -13px rgba(0, 0, 0, 0.05), 0 17px 17px -10px rgba(0, 0, 0, 0.27);
  }

  .nav-bar-flex-wrapper {
    padding-left: 50px;
  }

  .burger-line {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
  }

  .nav-bar-flex-row {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-link {
    padding-right: 20px;
    background-color: transparent;
    color: #000;
    text-align: right;
  }

  .nav-link.w--current {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: hsla(0, 0%, 100%, 0.96);
  }

  .container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .image-3 {
    display: block;
  }

  .section {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: none;
  }

  .section-2 {
    margin-top: 60px;
  }

  .nav-menu {
    left: 0px;
    right: 0px;
  }

  .nav-bar-flex-wrapper {
    padding-right: 0px;
  }

  .nav-bar-flex-row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hamburger-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button.w--open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .column-2 {
    padding-top: 37px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .columns-2 {
    display: block;
  }

  .image-6 {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .image-2 {
    opacity: 0;
  }

  .image-3 {
    display: block;
    padding: 10px 5px;
    float: none;
    clear: none;
  }

  .section {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .section-2 {
    margin-top: 60px;
  }

  .link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .div-block {
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .div-block-4 {
    grid-template-areas: ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . ."
      ". . . . . . . . . . . .";
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

  .nav-bar-flex-wrapper {
    padding-left: 0px;
  }

  .nav-bar-flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    padding-right: 25px;
    padding-left: 25px;
  }

  .container-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .column-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .columns-2 {
    display: block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-6 {
    display: none;
  }
}

#w-node-_195a4b2a-dc86-35eb-fdca-7a821ab2c2a0-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e94fd294-6886-5d20-040f-a45a5c7464af-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-ffc4e864-9fb9-db35-e862-b5451916ce66-10fb1fa7 {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 4;
  grid-column-end: 9;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-_54bedf6b-77cd-6bd0-2df3-2749724e8515-10fb1fa7 {
  -ms-grid-column: 9;
  grid-column-start: 9;
  -ms-grid-column-span: 4;
  grid-column-end: 13;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-ab1f8218-f845-c860-cee7-87d15702271d-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-_1f8a0975-3300-43cd-4c57-59bd4331f3f2-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-dfe47648-7639-05c6-ee9f-e452068086e1-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}

#w-node-_4634c1d5-bdbf-f022-9208-e07711b5d012-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-d5b6d072-1bee-2dbe-6381-64c51bef86dc-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-_6b9d0e73-7e32-3a34-5cde-d9eb35186bae-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-f26ffe39-8e26-28f6-b29b-0b3ccc233f49-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-_93a77873-2001-681c-1524-03074381761c-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-_0e1b2724-42ba-625d-a7d4-923c4e1ffa21-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}

#w-node-_02263596-4183-9e03-671c-3d726a676562-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-_073be9c1-031a-eb7d-6a43-9b83e3446337-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-eb207b6a-0a75-df3d-ddf6-2eb8299d75d8-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-bb240e3e-ae8b-9bf6-bad8-d6cd84abef99-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-_1fe763ae-8cec-8beb-d90d-d7eba5dd50be-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-_459f8dd3-c816-1a9d-3c03-813400aa719d-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-f934133a-0451-cba3-ad21-9fd725c2f82a-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-eeb79a70-ea4d-8303-502d-1f683e95badb-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-_76cd6733-ce99-0072-3547-179d32b6cddb-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_09265c18-8109-3e73-843a-8ae9d27c6e75-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-_6d57ea57-e329-47f6-b7a5-efaa13b4bf99-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-_0b6c80cf-bf23-bed1-7105-f6a6f9306bd7-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-ab88fb01-4dfb-fde0-4817-b7b5e35b9fc4-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-a0bb53f9-90bc-c10a-d772-e8cadec3a204-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-bf62046e-eef0-3c36-5a34-ed0c47c03a37-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-_46c2ead9-ec14-dbb2-c4ee-d3abe5ed6522-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-_2ed58c3e-2ab4-0050-e85e-8dd56897e9e9-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 17;
  grid-row-start: 17;
  -ms-grid-row-span: 1;
  grid-row-end: 18;
}

#w-node-a159922b-6aa9-6fe0-7861-3417cff4a26d-10fb1fa7 {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 6;
  grid-column-end: 13;
  -ms-grid-row: 17;
  grid-row-start: 17;
  -ms-grid-row-span: 1;
  grid-row-end: 18;
}

#w-node-_73e0fb9c-a8ae-431a-ab45-49ff64ee4360-10fb1fa7 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 18;
  grid-row-start: 18;
  -ms-grid-row-span: 1;
  grid-row-end: 19;
}

@media screen and (max-width: 479px) {
  #w-node-_9337c169-e2c1-ca99-24b3-158f026bf1f5-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_9337c169-e2c1-ca99-24b3-158f026bf1f7-10fb1fa7 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-_195a4b2a-dc86-35eb-fdca-7a821ab2c2a0-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-e94fd294-6886-5d20-040f-a45a5c7464af-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }

  #w-node-ffc4e864-9fb9-db35-e862-b5451916ce66-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }

  #w-node-_54bedf6b-77cd-6bd0-2df3-2749724e8515-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }

  #w-node-ab1f8218-f845-c860-cee7-87d15702271d-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 27;
    grid-row-start: 27;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 28;
  }

  #w-node-_1f8a0975-3300-43cd-4c57-59bd4331f3f2-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10;
  }

  #w-node-dfe47648-7639-05c6-ee9f-e452068086e1-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 29;
    grid-row-start: 29;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 30;
  }

  #w-node-_4634c1d5-bdbf-f022-9208-e07711b5d012-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 11;
    grid-row-start: 11;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 12;
  }

  #w-node-d5b6d072-1bee-2dbe-6381-64c51bef86dc-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 14;
    grid-row-start: 14;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 15;
  }

  #w-node-_6b9d0e73-7e32-3a34-5cde-d9eb35186bae-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 10;
    grid-row-start: 10;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 11;
  }

  #w-node-f26ffe39-8e26-28f6-b29b-0b3ccc233f49-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 13;
    grid-row-start: 13;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 14;
  }

  #w-node-_93a77873-2001-681c-1524-03074381761c-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 12;
    grid-row-start: 12;
    -ms-grid-row-span: 1;
    grid-row-end: 13;
  }

  #w-node-_0e1b2724-42ba-625d-a7d4-923c4e1ffa21-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 28;
    grid-row-start: 28;
    -ms-grid-row-span: 1;
    grid-row-end: 29;
  }

  #w-node-_02263596-4183-9e03-671c-3d726a676562-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 21;
    grid-row-start: 21;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 22;
  }

  #w-node-_073be9c1-031a-eb7d-6a43-9b83e3446337-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 23;
    grid-row-start: 23;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 24;
  }

  #w-node-eb207b6a-0a75-df3d-ddf6-2eb8299d75d8-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 22;
    grid-row-start: 22;
    -ms-grid-row-span: 1;
    grid-row-end: 23;
  }

  #w-node-bb240e3e-ae8b-9bf6-bad8-d6cd84abef99-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 24;
    grid-row-start: 24;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 25;
  }

  #w-node-_1fe763ae-8cec-8beb-d90d-d7eba5dd50be-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 25;
    grid-row-start: 25;
    -ms-grid-row-span: 1;
    grid-row-end: 26;
  }

  #w-node-_459f8dd3-c816-1a9d-3c03-813400aa719d-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 26;
    grid-row-start: 26;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 27;
  }

  #w-node-f934133a-0451-cba3-ad21-9fd725c2f82a-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }

  #w-node-eeb79a70-ea4d-8303-502d-1f683e95badb-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }

  #w-node-_76cd6733-ce99-0072-3547-179d32b6cddb-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }

  #w-node-_09265c18-8109-3e73-843a-8ae9d27c6e75-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9;
  }

  #w-node-_6d57ea57-e329-47f6-b7a5-efaa13b4bf99-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 19;
    grid-row-start: 19;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 20;
  }

  #w-node-_0b6c80cf-bf23-bed1-7105-f6a6f9306bd7-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 18;
    grid-row-start: 18;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 19;
  }

  #w-node-ab88fb01-4dfb-fde0-4817-b7b5e35b9fc4-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 17;
    grid-row-start: 17;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 18;
  }

  #w-node-a0bb53f9-90bc-c10a-d772-e8cadec3a204-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 20;
    grid-row-start: 20;
    -ms-grid-row-span: 1;
    grid-row-end: 21;
  }

  #w-node-bf62046e-eef0-3c36-5a34-ed0c47c03a37-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 15;
    grid-row-start: 15;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 16;
  }

  #w-node-_46c2ead9-ec14-dbb2-c4ee-d3abe5ed6522-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 16;
    grid-row-start: 16;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 17;
  }

  #w-node-_2ed58c3e-2ab4-0050-e85e-8dd56897e9e9-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 30;
    grid-row-start: 30;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 31;
  }

  #w-node-a159922b-6aa9-6fe0-7861-3417cff4a26d-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row: 31;
    grid-row-start: 31;
    -ms-grid-row-span: 1;
    grid-row-end: 32;
  }

  #w-node-_73e0fb9c-a8ae-431a-ab45-49ff64ee4360-10fb1fa7 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 32;
    grid-row-start: 32;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-row-span: 1;
    grid-row-end: 33;
  }
}

