:root {
  --black: black;
  --35-op: rgba(0, 0, 0, .35);
  --white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.body {
  text-align: left;
  background-color: #000;
}

.image-2 {
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.image-2:hover {
  background-color: #fff;
  background-image: url('../images/MASK1.png');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}

.image-3 {
  opacity: 1;
  filter: invert();
  transition: opacity .2s, opacity .5s cubic-bezier(.445, .05, .55, .95);
  display: block;
  overflow: hidden;
}

.image-3:hover {
  opacity: .5;
  filter: invert();
  transform: translate(0);
}

.section {
  padding-top: 50px;
  padding-left: 0;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.section.qr {
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  display: flex;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.section-2 {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.container_mask {
  text-align: center;
  background-image: url('../images/MASK2.png');
  background-position: 0 0;
  background-size: cover;
  background-attachment: scroll;
  transition: all .8s cubic-bezier(.77, 0, .175, 1);
}

.container_mask:hover {
  background-image: url('../images/MASK1.png');
  background-size: cover;
}

.img_mask {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin: 40px;
  display: block;
}

.body-2 {
  background-color: #000;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.container {
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 50px;
}

.div-block {
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2% 16%;
  font-family: Exo, sans-serif;
  display: flex;
}

.body-3 {
  background-color: #000;
  font-family: Exo, sans-serif;
}

.div-block-4 {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  grid-template: ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 ". . . . . . . . . . . ."
                 / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.image-4 {
  min-width: auto;
  min-height: auto;
}

.image-5 {
  max-height: 100%;
}

.section-3 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-menu {
  flex: 1;
}

.nav-bar-flex-wrapper {
  align-items: center;
  display: flex;
}

.burger-line {
  background-color: #656565;
  border-radius: 10px;
  width: 22.5px;
  height: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.nav-bar-flex-row {
  background-color: rgba(0, 0, 0, .52);
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  box-shadow: 0 10px 20px -9px rgba(0, 0, 0, .31);
}

.nav-link {
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  font-family: Exo, sans-serif;
  font-size: 11px;
  font-weight: 300;
  transition: padding .3s cubic-bezier(.175, .885, .32, 1.275), background-color .25s ease-in-out, color .2s;
}

.nav-link:hover {
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  padding-left: 50px;
  padding-right: 50px;
}

.nav-link.w--current {
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
}

.hamburger-wrapper {
  border-radius: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 20px 18px 18px;
  display: flex;
}

.text-block {
  color: #fff;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Exo, sans-serif;
  font-weight: 300;
}

.bold-text {
  text-align: left;
  font-size: 20px;
}

.container-4 {
  flex-direction: row;
  align-self: center;
  display: none;
}

.column-2 {
  justify-content: flex-start;
  align-items: center;
}

.text-field {
  padding-top: 15px;
  padding-bottom: 120px;
}

.columns-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.submit-button {
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  border-radius: 20px;
  padding: 6px 30px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  transition: transform .2s;
}

.submit-button:hover {
  transform: scale(1.1);
}

.submit-button:active {
  transform: scale(1.2);
}

.field-label {
  color: #fff;
  font-family: Exo, sans-serif;
}

.field-label-2, .field-label-3 {
  color: #fff;
}

.image-6 {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  padding: 4px;
}

.text-block-contact {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  font-weight: 300;
}

.container_proyecto {
  padding-top: 25px;
  padding-bottom: 25px;
}

.container_tituloproyecto {
  color: #fff;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Exo, sans-serif;
  font-weight: 300;
}

.slider {
  text-align: center;
  background-color: #000;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.html-embed {
  justify-content: center;
  align-items: center;
  display: flex;
}

.slide, .slide-2, .image-10, .slide-3, .slide-4, .slide-5 {
  text-align: center;
}

.html-embed-2 {
  text-align: center;
  display: inline-block;
}

.youtube, .slide-6, .slide-7, .slide-8, .slide-9, .slide-10, .slide-11, .slide-12, .slide-1, .slide-13 {
  text-align: center;
}

.slide-nav, .slide-nav-2 {
  padding-top: 50px;
}

.div-block-5 {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.button {
  color: var(--black);
  background-color: #fff;
  border-radius: 5px;
  margin: 20px;
  font-family: Exo, sans-serif;
}

.youtube-2 {
  width: auto;
  margin: 10px;
  padding-top: 0;
}

.html-embed-4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 70vh;
  display: flex;
}

.section-4 {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  margin-top: 60px;
  display: flex;
}

.div-block-4-copy {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  display: flex;
}

.div-block-6 {
  align-content: flex-start;
}

.div-block-7 {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.div-artista {
  background-image: url('../images/placeholder-1.svg');
  background-position: 0 0;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 28vh;
  min-height: 350px;
  max-height: 400px;
  text-decoration: none;
  display: flex;
}

.div-artista:hover {
  opacity: 1;
  background-image: linear-gradient(rgba(0, 97, 253, .5), rgba(0, 97, 253, .5)), url('../images/placeholder-1.svg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.div-artista.catsukap3 {
  background-image: url('../images/view2.png');
}

.div-artista.catsukap3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url('../images/view2.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.div-artista.chandasma {
  background-image: url('../images/Screenshot-211.png');
  background-position: 50%;
}

.div-artista.chandasma:hover {
  background-image: linear-gradient(to bottom, var(--35-op), var(--35-op)), url('../images/Screenshot-211.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-artista.artka {
  background-image: url('../images/FONDO_ARTKA2021_MAIN.png');
  background-position: 50%;
}

.div-artista.artka:hover {
  background-image: linear-gradient(to bottom, var(--35-op), var(--35-op)), url('../images/FONDO_ARTKA2021_MAIN.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-artista.artka.crystal1 {
  background-image: url('../images/1.gif');
}

.div-artista.artka.crystal1:hover {
  background-image: url('../images/1.gif'), linear-gradient(to bottom, null, null);
  background-position: 50%, 0 0;
}

.div-artista.artka.crystal2 {
  background-image: url('../images/2.gif');
}

.div-artista.artka.crystal2:hover {
  background-image: url('../images/2.gif'), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-position: 50%, 0 0;
  background-size: auto, auto;
}

.div-artista.artka.crystal3 {
  background-image: url('../images/3.gif');
}

.div-artista.artka.crystal3:hover {
  background-image: url('../images/3.gif'), linear-gradient(to bottom, null, null);
  background-position: 50%, 0 0;
}

.div-artista.soulcollector {
  background-image: url('../images/4.jpg');
}

.div-artista.soulcollector:hover {
  background-image: linear-gradient(to bottom, var(--35-op), var(--35-op)), url('../images/4.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.div-artista.adidas {
  background-image: url('../images/3.jpg');
}

.div-artista.adidas:hover {
  background-image: linear-gradient(to bottom, var(--35-op), var(--35-op)), url('../images/3.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.div-artista.adidas.hide {
  display: none;
}

.div-artista.gasmask {
  background-image: url('../images/MASK_Perspective_02-11-compressor.png');
}

.div-artista.gasmask:hover {
  background-image: linear-gradient(to bottom, var(--35-op), var(--35-op)), url('../images/MASK_Perspective_02-11-compressor.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
}

.div-artista.mbx {
  background-image: url('../images/MatchBox.jpg');
  background-position: 100%;
}

.div-artista.mbx:hover {
  background-image: linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url('../images/MatchBox.jpg');
  background-position: 0 0, 100%;
  background-size: auto, cover;
}

.div-block-15 {
  margin: 40px;
}

.heading-8.white, .white {
  color: #fff;
}

.grid {
  padding-bottom: 30px;
}

.link, .link-2 {
  background-color: #fff;
  font-weight: 600;
}

.div_videoscorp {
  padding-left: 100px;
  padding-right: 100px;
}

.lottie-animation {
  height: 100vh;
}

.body-4 {
  background-color: #0c0c0c;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.preloader {
  z-index: 99999;
  background-image: linear-gradient(to bottom, var(--black), var(--black));
  object-fit: fill;
  flex-direction: row;
  flex: 0 auto;
  justify-content: center;
  align-self: center;
  align-items: stretch;
  max-width: 100%;
  height: 100%;
  margin: auto;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.image-11 {
  object-fit: contain;
  flex: 1;
  order: 0;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}

.container-7 {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  display: flex;
}

.html-embed-5 {
  justify-content: center;
  align-items: center;
  width: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .body {
    overflow: hidden;
  }

  .image-2 {
    max-width: 100%;
    overflow: hidden;
  }

  .image-3 {
    max-width: 60%;
    display: block;
    overflow: hidden;
  }

  .section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-left: 0;
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
    overflow: hidden;
  }

  .section.qr {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .section-2 {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 60px;
  }

  .container_mask {
    background-color: #fff;
    padding-left: 0;
  }

  .link-block {
    margin: 10px;
  }

  .div-block {
    padding-left: 0%;
    padding-right: 0%;
  }

  .nav-menu {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0 16px 21px -13px rgba(0, 0, 0, .05), 0 17px 17px -10px rgba(0, 0, 0, .27);
  }

  .nav-bar-flex-wrapper {
    padding-left: 50px;
  }

  .burger-line {
    border: 1px solid #fff;
  }

  .nav-bar-flex-row {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-link {
    color: #000;
    text-align: right;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 20px;
  }

  .nav-link.w--current {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(255, 255, 255, .96);
  }

  .container-4 {
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .heading-8.white {
    font-size: 25px;
  }

  .div_videoscorp {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .image-3 {
    display: block;
  }

  .section {
    display: none;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
  }

  .section-2 {
    margin-top: 60px;
  }

  .div-block-4 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-menu {
    left: 0;
    right: 0;
  }

  .nav-bar-flex-wrapper {
    padding-right: 0;
  }

  .nav-bar-flex-row {
    background-color: rgba(0, 0, 0, .5);
    justify-content: space-between;
  }

  .hamburger-wrapper {
    justify-content: center;
    align-items: center;
  }

  .menu-button.w--open {
    flex: 0 auto;
    justify-content: flex-end;
    align-self: auto;
    display: flex;
  }

  .column-2 {
    padding-top: 37px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .columns-2 {
    display: block;
  }

  .youtube-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .div-artista {
    height: 10vh;
    min-height: 250px;
    max-height: 300px;
  }

  .heading-8.white {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 479px) {
  .image-2 {
    opacity: 0;
  }

  .image-3 {
    float: none;
    clear: none;
    max-width: 60%;
    padding: 10px 5px;
    display: block;
  }

  .section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: row;
    grid-template: "."
    / 1fr;
    grid-auto-columns: 1fr;
    display: none;
  }

  .section.qr {
    z-index: 999993;
    flex-direction: row;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
    display: flex;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .section-2 {
    margin-top: 60px;
  }

  .link-block {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    display: flex;
  }

  .link-block.qr {
    margin-right: -25px;
  }

  .div-block {
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .div-block-4 {
    flex-direction: column;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . .";
    display: flex;
  }

  .nav-bar-flex-wrapper {
    padding-left: 0;
  }

  .nav-bar-flex-row {
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .text-block {
    padding-left: 25px;
    padding-right: 25px;
  }

  .container-4 {
    flex-direction: row;
  }

  .column-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .columns-2 {
    align-items: center;
    display: block;
  }

  .image-6 {
    flex: 1;
    display: block;
  }

  .div-block-4-copy {
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . ."
                         ". . . . . . . . . . . .";
  }

  .div-block-6 {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    display: flex;
  }

  .white {
    text-align: center;
  }

  .grid {
    flex-direction: column;
    display: flex;
  }

  .body-4 {
    font-family: Exo, sans-serif;
  }

  .preloader, .container-7 {
    max-width: 100%;
    height: 100%;
  }

  .link-3 {
    color: #fff;
    font-family: Exo, sans-serif;
  }
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adce-c26bbbd2 {
  grid-area: 1 / 1 / 2 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adcf-c26bbbd2 {
  grid-area: 2 / 1 / 3 / 5;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add0-c26bbbd2 {
  grid-area: 2 / 5 / 3 / 9;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add1-c26bbbd2 {
  grid-area: 2 / 9 / 3 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add2-c26bbbd2 {
  grid-area: 15 / 1 / 16 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add3-c26bbbd2 {
  grid-area: 5 / 1 / 6 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add4-c26bbbd2 {
  grid-area: 16 / 7 / 17 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add5-c26bbbd2 {
  grid-area: 6 / 1 / 7 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add6-c26bbbd2 {
  grid-area: 7 / 7 / 8 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add7-c26bbbd2 {
  grid-area: 5 / 7 / 6 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add8-c26bbbd2 {
  grid-area: 7 / 1 / 8 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088add9-c26bbbd2 {
  grid-area: 6 / 7 / 7 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adda-c26bbbd2 {
  grid-area: 16 / 1 / 17 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088addb-c26bbbd2 {
  grid-area: 11 / 1 / 12 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088addc-c26bbbd2 {
  grid-area: 12 / 7 / 13 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088addd-c26bbbd2 {
  grid-area: 12 / 1 / 13 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adde-c26bbbd2 {
  grid-area: 13 / 1 / 14 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088addf-c26bbbd2 {
  grid-area: 14 / 1 / 15 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088ade0-c26bbbd2 {
  grid-area: 14 / 7 / 15 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088ade5-c26bbbd2 {
  grid-area: 10 / 1 / 11 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088ade6-c26bbbd2 {
  grid-area: 9 / 7 / 10 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088ade7-c26bbbd2 {
  grid-area: 9 / 1 / 10 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088ade8-c26bbbd2 {
  grid-area: 10 / 7 / 11 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088ade9-c26bbbd2 {
  grid-area: 8 / 1 / 9 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adea-c26bbbd2 {
  grid-area: 8 / 7 / 9 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adeb-c26bbbd2 {
  grid-area: 17 / 1 / 18 / 7;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088adec-c26bbbd2 {
  grid-area: 17 / 7 / 18 / 13;
}

#w-node-_10bdac74-282b-4706-0ec3-dce3b088aded-c26bbbd2 {
  grid-area: 18 / 1 / 19 / 13;
}

#w-node-_22a887be-42ac-84a8-461c-3ec40b9b5f0c-bd6bbbd6 {
  grid-area: 1 / 1 / 2 / 13;
}

@media screen and (max-width: 479px) {
  #w-node-_9337c169-e2c1-ca99-24b3-158f026bf1f5-c26bbbd2 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_9337c169-e2c1-ca99-24b3-158f026bf1f7-c26bbbd2 {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adce-c26bbbd2 {
    grid-area: 1 / 1 / 2 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adcf-c26bbbd2 {
    grid-area: 2 / 1 / 3 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add0-c26bbbd2 {
    grid-area: 3 / 1 / 4 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add1-c26bbbd2 {
    grid-area: 4 / 1 / 5 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add2-c26bbbd2 {
    grid-area: 27 / 1 / 28 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add3-c26bbbd2 {
    grid-area: 9 / 1 / 10 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add4-c26bbbd2 {
    grid-area: 29 / 1 / 30 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add5-c26bbbd2 {
    grid-area: 11 / 1 / 12 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add6-c26bbbd2 {
    grid-area: 14 / 1 / 15 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add7-c26bbbd2 {
    grid-area: 10 / 1 / 11 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add8-c26bbbd2 {
    grid-area: 13 / 1 / 14 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088add9-c26bbbd2 {
    grid-area: 12 / 1 / 13 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adda-c26bbbd2 {
    grid-area: 28 / 1 / 29 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088addb-c26bbbd2 {
    grid-area: 21 / 1 / 22 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088addc-c26bbbd2 {
    grid-area: 23 / 1 / 24 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088addd-c26bbbd2 {
    grid-area: 22 / 1 / 23 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adde-c26bbbd2 {
    grid-area: 24 / 1 / 25 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088addf-c26bbbd2 {
    grid-area: 25 / 1 / 26 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088ade0-c26bbbd2 {
    grid-area: 26 / 1 / 27 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088ade5-c26bbbd2 {
    grid-area: 19 / 1 / 20 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088ade6-c26bbbd2 {
    grid-area: 18 / 1 / 19 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088ade7-c26bbbd2 {
    grid-area: 17 / 1 / 18 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088ade8-c26bbbd2 {
    grid-area: 20 / 1 / 21 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088ade9-c26bbbd2 {
    grid-area: 15 / 1 / 16 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adea-c26bbbd2 {
    grid-area: 16 / 1 / 17 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adeb-c26bbbd2 {
    grid-area: 30 / 1 / 31 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088adec-c26bbbd2 {
    grid-area: 31 / 1 / 32 / 13;
  }

  #w-node-_10bdac74-282b-4706-0ec3-dce3b088aded-c26bbbd2 {
    grid-area: 32 / 1 / 33 / 13;
  }

  #w-node-_22a887be-42ac-84a8-461c-3ec40b9b5f0c-bd6bbbd6 {
    grid-area: 1 / 1 / 2 / 13;
  }

  #w-node-_9337c169-e2c1-ca99-24b3-158f026bf1f5-3471132e {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_9337c169-e2c1-ca99-24b3-158f026bf1f7-3471132e {
    grid-area: 2 / 2 / 3 / 3;
  }
}


