# Exclude a specific file
add_i18n.py
generate_projects.py
Proyectos WEB Jangaritb - about.csv
Proyectos WEB Jangaritb - PROYECTOS WEB.csv
**/[Dd]esktop.ini*

# Exclude an entire directory
# node_modules/

# Exclude all files with a specific extension
#*.log